[package]
name = "termprofile"
version = "0.1.0"
edition = "2024"

[dependencies]
anstyle = { version = "1", optional = true }
palette = { version = "0.7", optional = true, default-features = false, features = [
  "std",
] }
terminfo = { version = "0.9.0", optional = true }

[target.'cfg(windows)'.dependencies]
os_info = { version = "3.10", default-features = false, optional = true }

[features]
default = ["terminfo"]
windows-version = ["dep:os_info"]
convert = ["dep:anstyle", "dep:palette"]
terminfo = ["dep:terminfo"]

[dev-dependencies]
anstyle-crossterm = "4.0.1"
crossterm = "0.29.0"
rand = "0.9.1"
rstest = "0.25.0"
